In [1]:
import numpy as np
import pandas as pd

In [2]:
dataFolder = 'simplii/'

In [3]:
rootCsv = '2022-02-20-SIMPLII.csv'

In [4]:
sourceFile = dataFolder + rootCsv

In [5]:
sourceDf = pd.read_csv(sourceFile, 
                       names = ['Date','Transaction_Details','Funds_Out','Funds_In'],
                       header=0,
                       dtype = {'Date':str, 'Transaction_Details':str, 'Funds_Out':np.double, 'Funds_In':np.double },
                       parse_dates=['Date']
                       )

sourceDf['Funds_Out'] = sourceDf['Funds_Out'].fillna(0)
sourceDf['Funds_In'] = sourceDf['Funds_In'].fillna(0)

sourceDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    datetime64[ns]
 1   Transaction_Details  122 non-null    object
 2   Funds_Out            122 non-null    float64
 3   Funds_In             122 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 3.9+ KB

Grab all the transactions from the money manager spreadsheet.

In [7]:
transactionsDf = pd.read_excel('money-manager-2 (2021).xlsx', 
                               sheet_name='Transactions', 
                               header=3)

In [8]:
transactionsDf.head()

,Account,Date,Num,Payee,Memo,Tag,Category,Clr,PAYMENT,DEPOSIT,Account Balance,Cleared Balance,BALANCE,Unnamed: 13,Unnamed: 14
0,PC Mastercard,2021-01-02,NaN,ZEHRS #552 UXBRIDGE,PCFMC-20211025.csv,98,Groceries,NaN,37.38,NaN,-37.38,0.0,-37.38,NaN,NaN
1,PC Mastercard,2021-01-07,NaN,ZEHRS #552 UXBRIDGE,PCFMC-20211025.csv,97,Groceries,NaN,85.52,NaN,-122.90,0.0,-122.90,NaN,"To get started, clear the sample data in colum..."
2,PC Mastercard,2021-01-12,NaN,ZEHRS #552 UXBRIDGE,PCFMC-20211025.csv,96,Groceries,NaN,74.26,NaN,-197.16,0.0,-197.16,NaN,NaN
3,PC Mastercard,2021-01-21,NaN,ZEHRS #552 UXBRIDGE,PCFMC-20211025.csv,95,Groceries,NaN,147.00,NaN,-344.16,0.0,-344.16,NaN,NaN
4,PC Mastercard,2021-01-21,NaN,SHOPPERS DRUG MART #09 UXBRIDGE ON,PCFMC-20211025.csv,94,Medicine,NaN,93.32,NaN,-437.48,0.0,-437.48,NaN,NaN

Generate a list of all distinct Payee/Category records with their count.

In [9]:
pcDF = transactionsDf[['Payee','Category']]
pcDF.head(16)

                                       Payee          Category
0                        ZEHRS #552 UXBRIDGE         Groceries
1                        ZEHRS #552 UXBRIDGE         Groceries
2                        ZEHRS #552 UXBRIDGE         Groceries
3                        ZEHRS #552 UXBRIDGE         Groceries
4   SHOPPERS DRUG MART #09   UXBRIDGE     ON          Medicine
5   SHOPPERS DRUG MART #09   UXBRIDGE     ON          Medicine
6                   PURCHASE INTEREST CHARGE  Interest Expense
7                        INTEREST ADJUSTMENT   Interest Income
8                        ZEHRS #552 UXBRIDGE         Groceries
9   UXBRIDGE ESSO            UXBRIDGE     ON          Car Fuel
10                       ZEHRS #552 UXBRIDGE         Groceries
11                       ZEHRS #552 UXBRIDGE         Groceries
12                       ZEHRS #552 UXBRIDGE         Groceries
13                  PURCHASE INTEREST CHARGE  Interest Expense
14                       ZEHRS #552 UXBRIDGE         Groceries
15                       ZEHRS #552 UXBRIDGE         Groceries

In [10]:
pcDF = pcDF.sort_values(by=['Payee','Category'],
                 ascending=[True,False]
                )
pcDF.head(16)

                                        Payee         Category
146                              ABM DEPOSIT       ABM Deposit
95                                   INTEREST  Interest Income
99                                   INTEREST  Interest Income
106                                  INTEREST  Interest Income
116                                  INTEREST  Interest Income
124                                  INTEREST  Interest Income
133                                  INTEREST  Interest Income
143                                  INTEREST  Interest Income
149                                  INTEREST  Interest Income
155                                  INTEREST  Interest Income
195                                  INTEREST  Interest Income
202                                  INTEREST  Interest Income
111                           POS MERCHANDISE    Miscellaneous
35   AMZN Mktp CA*2R60I2OQ0   WWW.AMAZON.CAON           Amazon
37   AMZN Mktp CA*2R9X86CM2   WWW.AMAZON.CAON           Amazon
64   APPLIANCE PARTS          866-985-5301 BC    Miscellaneous

In [11]:
pcDf2 = pcDF.drop_duplicates()
pcDf2.sort_values(by=['Payee','Category'],
                 ascending=[True,True]
                )

,Payee,Category
146,ABM DEPOSIT,ABM Deposit
95,INTEREST,Interest Income
111,POS MERCHANDISE,Miscellaneous
35,AMZN Mktp CA*2R60I2OQ0 WWW.AMAZON.CAON,Amazon
37,AMZN Mktp CA*2R9X86CM2 WWW.AMAZON.CAON,Amazon
64,APPLIANCE PARTS 866-985-5301 BC,Miscellaneous
167,Amazon.ca*VG9OQ6NC3 AMAZON.CA ON,Amazon
56,BOYD'S SOURCE FOR SPOR UXBRIDGE ON,Bike Stuff
60,CDN TIRE GASBAR #01376 UXBRIDGE ON,Miscellaneous
65,CHENS CHINA HOUSE UXBRIDGE ON,Fast Food
209,COURSRA239ZRC6SIWJ6E7 6509639884 CA,Education
42,COURSRA98EJE7POFIDTDG 6509639884 CA,Education
184,DOLLARAMA # 454 UXBRIDGE ON,Groceries
115,EFT CREDIT CANADA,Canada Pension Plan
87,EFT CREDIT CANADA,EFT Credit Canada
168,EFT CREDIT CANADA,Canada Pension Plan
128,EFT DEBIT CANADA CHEQUE,Personal Taxes
17,FIRST CHOICE HAIRCUTTE UXBRIDGE ON,Hair Cut
88,INSURANCE BELAIR INS/ASS. CHEQUE,Car Insurance
169,INTEREST,Interest Income
7,INTEREST ADJUSTMENT,Interest Income
206,INTERNET BILL PAYMENT 407 ETR CONCESSION COMPAN,407 ETR
140,INTERNET BILL PAYMENT 407 ETR CONCESSION COMPAN,Miscellaneous
90,INTERNET BILL PAYMENT COMPTON COMMUNICATIONS,Util. Internet (Compton)
161,INTERNET BILL PAYMENT DURHAM MUNICIPALITY OF,Util. Water (Durham)
89,INTERNET BILL PAYMENT DURHAM (MUNICIPALITY OF),Util. Water (Durham)
93,INTERNET BILL PAYMENT ENBRIDGE GAS INC.,Util. Gas (Enbridge)
92,INTERNET BILL PAYMENT FIDO,Util. Cell Phone (Fido)
91,INTERNET BILL PAYMENT HYDRO ONE NETWORKS INC,Util. Electricity (Hydro One)
174,INTERNET BILL PAYMENT PEMBRIDGE INSURANCE COMPA,Home Insurance
103,INTERNET BILL PAYMENT RELIANCE HOME COMFORT,Util. Water Heater (Reliance)
96,INTERNET BILL PAYMENT UXBRIDGE TOWNSHIP TAX,Taxes (Uxbridge Township)
94,LIFE INSURANCE CANADA LIFE ASSURANCE CHEQUE,Life Insurance
26,LIFELABS #Q7 UXBRIDGE ON,Medicine
186,MCDONALD'S #18999 Q04 UXBRIDGE ON,Fast Food
75,MCDONALD'S #23919 QPS TORONTO ON,Fast Food
25,MICHAEL'S NO FRILLS #3 STOUFFVILLE ON,Groceries
164,MICHAEL'S NO FRILLS #3 STOUFFVILLE ON,Groceries
69,PEMBRIDGE INSURANCE MARKHAM ON,Car Insurance
187,PEMBRIDGE INSURANCE MARKHAM ON,Home Insurance
185,PET VALU #2153 UXBRIDGE ON,Groceries
32,PETROCAN UXBRIDGE ON,Car Fuel
18,PIZZAVILLE 125 UXBRIDGE ON,Fast Food
31,POOCH PALACE UXBRIDGE ON,Dog Grooming
6,PURCHASE INTEREST CHARGE,Interest Expense
44,QUESADA UXBRIDGE ON,Fast Food
49,REXALL POST OFFICE #69 UXBRIDGE ON,Miscellaneous
163,SHELL C45059 STOUFFVILLE ON,Car Fuel
51,SHOPPERS DRUG MART #09 UXBRIDGE ON,Groceries
4,SHOPPERS DRUG MART #09 UXBRIDGE ON,Medicine
59,SHOPPERS DRUG MART #09 UXBRIDGE ON,Medicine
48,STAPLES/BUSINESS DEPOT UXBRIDGE ON,Miscellaneous
36,UXBRIDGE AUTO CENTRE UXBRIDGE ON,Car Repair / Licenses
9,UXBRIDGE ESSO UXBRIDGE ON,Car Fuel
46,WWW.THEBIK* THE BIKE S CALGARY AB,Bike Stuff
165,ZEHRS #552 UXBRIDGE ON,Groceries
0,ZEHRS #552 UXBRIDGE,Groceries

In [12]:
pcDF.head(16)

                                        Payee         Category
146                              ABM DEPOSIT       ABM Deposit
95                                   INTEREST  Interest Income
99                                   INTEREST  Interest Income
106                                  INTEREST  Interest Income
116                                  INTEREST  Interest Income
124                                  INTEREST  Interest Income
133                                  INTEREST  Interest Income
143                                  INTEREST  Interest Income
149                                  INTEREST  Interest Income
155                                  INTEREST  Interest Income
195                                  INTEREST  Interest Income
202                                  INTEREST  Interest Income
111                           POS MERCHANDISE    Miscellaneous
35   AMZN Mktp CA*2R60I2OQ0   WWW.AMAZON.CAON           Amazon
37   AMZN Mktp CA*2R9X86CM2   WWW.AMAZON.CAON           Amazon
64   APPLIANCE PARTS          866-985-5301 BC    Miscellaneous